
<tr>
  <td>
    <%= image_tag product.image.tiny.url %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= item_price %>
  </td>
  <td>
    <div>
    <%= quantity %>
    </div>
  </td>
  <td>
    <%= total_price %>
  </td>
</tr>
